.main {
    display: flex;
    gap: 10px;
    width: 100vw;
    /* margin-top: -10px; */
}

.content-block {
    width: 400px;
}

.timeline-block {
    display: flex;
    justify-content: space-between;
    width: 100%;
}